@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-colorful 기본 대체 스타일 */
.react-colorful {
   width: 100%;
   height: 150px;
}
.react-colorful__saturation {
   position: relative;
   width: 100%;
   height: 100%;
   border-radius: 0.5rem;
   overflow: hidden;
   cursor: pointer;
}
.react-colorful__hue {
   margin-top: 12px;
   height: 12px;
   border-radius: 9999px;
}

:root {
   --color-background1: #fff;
   --color-text1: #212529;
   --color-text2: #495057;
   --color-text3: #868e96;
   --color-text4: #ced4da;
   --color-text5: #0cb0d4;
   --color-border1: #dee2e6;
}

:root.dark {
   --color-background1: #374151;
   --color-text1: #ececec;
   --color-text2: #d9d9d9;
   --color-text3: #acacac;
   --color-text4: #595959;
   --color-text5: #4be7fb;
   --color-border1: #4d4d4d;
}
