@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-colorful 기본 대체 스타일 */
.react-colorful {
   width: 100%;
   height: 150px;
}
.react-colorful__saturation {
   position: relative;
   width: 100%;
   height: 100%;
   border-radius: 0.5rem;
   overflow: hidden;
   cursor: pointer;
}
.react-colorful__hue {
   margin-top: 12px;
   height: 12px;
   border-radius: 9999px;
}

:root {
   --color-background1: #fff;
   --color-text1: #212529;
   --color-text2: #495057;
   --color-text3: #868e96;
   --color-text4: #ced4da;
   --color-text5: #0cb0d4;
   --color-border1: #dee2e6;
}

:root.dark {
   --color-background1: #374151;
   --color-text1: #ececec;
   --color-text2: #d9d9d9;
   --color-text3: #acacac;
   --color-text4: #595959;
   --color-text5: #4be7fb;
   --color-border1: #4d4d4d;
}
.slider-hue {
   background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
   border-radius: 9999px;
}

.slider-hue::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   border: 2px solid #aaa;
   cursor: pointer;
}

.slider-alpha {
   background:
    /* 투명→불투명 색 그라디언트 */
      linear-gradient(to right, rgba(var(--rgb), 0), rgba(var(--rgb), 1)),
      /* 바둑판 패턴 */ repeating-conic-gradient(#ccc 0% 25%, #eee 0% 50%) 0 / 12px 12px;
   border-radius: 9999px;
}

.slider-alpha::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   border: 2px solid #aaa;
   cursor: pointer;
}
